body {background:#AAAACF;
		color: #fff

}

*{
	margin: 0;
	padding: 0;


};
/* esto son para aser comentarios*/
h2 {
	color:red;
}

h2{
	font-size:40px;
}
p{
	color: #0000ff;
}
/*q esto sea un elemento es decir filtros*/
p a{
	font-size: orange;
}
.naranje{
	color: orange;
}
/* todo los elemeto de a tienen con este formato con verde*/
a[href="http:www.poeta.com"]{
	color:green;
	font-size: 10px;
}